<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iframe test</title>
</head>
<body style='height: 1000px;'>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
        chat-icon="https:&#x2F;&#x2F;live.staticflickr.com&#x2F;65535&#x2F;53624785670_e5b92bfc8f_t.jpg"
        intent="WELCOME"
        chat-title="Namaste-Ayodhya"
        agent-id="a0a798b8-690f-453b-84cb-e28f30ca0f46"
        language-code="en">
    </df-messenger>
</body>
</html>